<div class="container mb-4" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-5">
            <form th:action="@{/createGrade}" th:method="POST">
                <div class="form-group">
                    <label for="name">Grade</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="grade"
                           th:value="(${grade} != null ? ${grade.getGrade()} : '')"
                           required
                           placeholder="Enter grade"
                    maxlength="1">
                </div>
                <div class="form-group">
                    <label for="description">Date and time</label>
                    <input type="datetime-local"
                           class="form-control"
                           id="description"
                           name="timestamp"
                           th:value="(${grade} != null ? ${grade.getTimestamp()} : '')">
                </div>

                <input th:if="${grade} != null" type="hidden" th:value="${grade.getId()}" name="id">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a type="button" class="btn btn-primary" href="/courses">Back</a>
            </form>
        </div>
    </div>
</div>