<div class="container mb-4" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-5">
            <form action="/createTeacher" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           th:value="(${teacher} != null ? ${teacher.getTeacherFullname().getName()} : '')"
                           required
                           placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="description">Surname</label>
                    <input type="text"
                           class="form-control"
                           id="descriptin"
                           name="surname"
                           th:value="(${teacher} != null ? ${teacher.getTeacherFullname().getSurname()} : '')"
                           placeholder="Enter surname">
                </div>
                <div class="form-group">
                    <label for="description">Date of employment</label>
                    <input type="date"
                           class="form-control"
                           id="description"
                           name="dayOfEmployment"
                           th:value="(${teacher} != null ? ${teacher.getDateOfEmployment()} : '')">
                </div>


                <input th:if="${teacher} != null" type="hidden" th:value="${teacher.getId()}" name="courseId">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a type="button" class="btn btn-primary" href="/courses">Back</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>