<div class="container mb-4" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-5">
            <form action="/courses/add" method="POST">
                <div class="form-group">
                    <label for="name">Course name</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           name="name"
                           th:value="(${course} != null ? ${course.getName()} : '')"
                           required
                           placeholder="Enter course name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text"
                           class="form-control"
                           id="description"
                           name="description"
                           th:value="(${course} != null ? ${course.getDescription()} : '')"
                           placeholder="Description">
                </div>
                <div class="form-group">
                    <label>Teacher</label>
                    <select name="id" id="dropdown" class="form-control">
                        <option th:if="${course} != null"
                                th:selected="${course.getTeacher() != null && course.getTeacher().getId() == teacher.getId()}"
                                th:each="teacher : ${teachers}"
                                th:value="${teacher.getId()}"
                                th:text="${teacher.getTeacherFullname().getName()}">
                        </option>
                        <option th:if="${course} == null"
                                th:each="teacher : ${teachers}"
                                th:value="${teacher.getId()}"
                                th:text="${teacher.getTeacherFullname().getName()} + ' ' + ${teacher.getTeacherFullname().getSurname()}">
                        </option>
                    </select>
                </div>

                <input th:if="${course} != null" type="hidden" th:value="${course.getId()}" name="courseId">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a type="button" id="submit" class="btn btn-primary" href="/courses">Back</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>