<div class="container mb-4" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container mb-4">

        <div class="container mb-4">


            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <form th:action="@{/courses/add-course}" th:method="GET">
                <input class="add-course-btn" type="submit" value="Add Course">
            </form>
            </th:block>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <form th:action="@{/createTeacher}" th:method="GET">
                <input class="add-teacher-btn" type="submit" value="Add teacher">
            </form>
            </th:block>

        </div>


        <div class="row">
            <div class="col-12" th:if="${courses.size() > 0}">
                <div class="table-responsive">

                        <form th:action="@{/AddStudent}" th:method="GET">
                            <input type='submit' value='Submit'/>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Selection</th>
                                    <th scope="col">Course name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Teacher</th>
                                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <th scope="col">Choose Action</th>
                                    </th:block>>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="course : ${courses}" class="courses">
                                        <td><input type="radio" name="courseId" th:value="${course.getId()}"/></td>
                                        <td th:if="${teacher} != null and ${course.hasTeacher(teacher)}"
                                            style="color:blue;"
                                            th:text="${course.getName()}"></td>
                                        <td th:if="${teacher} != null and !${course.hasTeacher(teacher)}" th:text="${course.getName()}"></td>
                                        <td th:if="${teacher} == null" th:text="${course.getName()}"></td>
                                        <td th:text="${course.getDescription()}"></td>
                                        <td th:text="${course.getTeacher() != null}
                                        ? ${course.getTeacher().getTeacherFullname()}: 'No Teacher'"></td>
                                        <th:block sec:authorize="hasRole('ROLE_ADMIN')"
                                                       >
                                        <td class="text-right">
                                            <!--http://localhost:8080/AddStudent?_method=DELETE-->
                                            <th:block>
                                                <a th:href="@{'/courses/delete/{id}' (id=${course.getId ()})}"
                                                   class="btn btn-sm btn-danger delete-course">
                                                    <i class="fa fa-trash">Delete</i>
                                                </a>
                                            </th:block>
                                            <th:block>
                                                <a th:href="@{'/courses/edit-form/{id}' (id=${course.getId()})}"
                                                   class="btn btn-sm btn-info edit-course">
                                                    <i class="fa fa-trash">Edit</i>
                                                </a>
                                            </th:block>
                                        </td>
                                        </th:block>

                                    </tr>
                                </tbody>
                            </table>

                        </form>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
