<div class="container mb-4" xmlns:th="http://www.thymeleaf.org">

    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
        <h2>Select the student to enroll:</h2>
        <a th:href="@{'/createStudent'}"
           class="btn btn-secondary"
           type='button'>Create New Student</a> <br/> <br/>

        <form th:action="@{/StudentEnrollmentSummary}" th:method="POST">
            <div th:each="student: ${students}"><input type="radio" name="student" th:value="${student.getUsername()}"
                                                       th:text="${student.getUsername()}"/></div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </th:block>

        <!--<input type="radio" name="size" value="petar.petrov"> Петар Петров <br/>
        <input type="radio" name="size" value="mile.milev"> Миле Милев <br/>
        <input type="radio" name="size" value="gjorgji.gjorgjiev"> Ѓорѓи Ѓорѓиев <br/>-->
        <br/>

        <a th:href="@{'/StudentEnrollmentSummary'}"
           class="btn btn-info">
            <i class="fa fa-trash">View course</i>
        </a>
        <div>
        <a th:href="@{'/courses'}"
           class="btn btn-sm btn-info">
            <i class="fa fa-trash">Back</i>
        </a>
    </div>
</div>