<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>WP lab - Students in Course</title>

</head>
<body>
<header>
    <h1>Students in Course </h1>
</header>
<section>
    <h2 th:text="${courseName}"></h2>
    <ul>
        <li th:each="student: ${students}">
            <th:block th:text="${student.getName()}"/>
            <th:block th:text="${student.getSurname()}"/>
        </li>
        <!--<li>Петар Петров (petar.petrov)</li>
        <li>Јован Јованов (jovan.jovanov)</li>-->
    </ul>
    <a href="/listCourses">Back</a>
</section>

</body>
</html>