<div class="container mb-4" xmlns:th="http://www.thymeleaf.org">
    <div class="container mb-4" th:if="${students.size() > 0}">
        <form th:action="@{/StudentEnrollmentSummary/lol}" th:method="POST">
            <div class="form-group">
                <label for="description">Date and time</label>
                <input type="datetime-local"
                       class="form-control"
                       id="description1"
                       name="from"
                       th:value="(${from} != null ? ${from} : '')"
                >
            </div>
            <div class="form-group">
                <label for="description">Date and time</label>
                <input type="datetime-local"
                       class="form-control"
                       id="description"
                       name="to"
                       th:value="(${to} != null ? ${to} : '')"
                >
            </div>

            <button type="submit" >Filter</button>
        </form>

        <a th:href="@{/StudentEnrollmentSummary}"
           class="btn btn-sm btn-danger delete-product">
            <i class="fa fa-trash">Show all</i>
        </a>
    </div>

    <div class="container mb-4" th:if="${students.size() > 0}">
        <form th:action="@{/StudentEnrollmentSummary/lol1}" th:method="POST">
            <div class="form-group">
                <label for="description">From Grade</label>
                <input type="text"
                       class="form-control"
                       id="description3"
                       name="from1"
                       th:value="(${from1} != null ? ${from1} : '')"
                >
            </div>
            <div class="form-group">
                <label for="description">To Grade</label>
                <input type="text"
                       class="form-control"
                       id="descriptio"
                       name="to1"
                       th:value="(${to1} != null ? ${to1} : '')"
                >
            </div>

            <button type="submit" >Filter</button>
        </form>

        <a th:href="@{/StudentEnrollmentSummary}"
           class="btn btn-sm btn-danger delete-product">
            <i class="fa fa-trash">Show all</i>
        </a>
    </div>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${students.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Grade Entered At</th>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <th scope="col">Choose Action</th>
                            </th:block>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student : ${students}" class="product">

                            <td th:text="${student.getUsername()}"></td>
                            <td th:text="${student.getName()}"></td>
                            <td th:text="${student.getSurname()}"></td>
                            <td th:if="${grades.containsKey(student.getUsername())}"
                                th:text="${grades.get(student.getUsername()).getGrade()}"></td>

                            <td th:if="${!grades.containsKey(student.getUsername())}">
                                No Grade
                            </td>

                            <td th:if="${grades.containsKey(student.getUsername())}"
                                th:text="${grades.get(student.getUsername()).getTimestamp()}"></td>

                            <td th:if="${!grades.containsKey(student.getUsername())}">
                                No date
                            </td>

                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <td class="text-right">
                                <!--http://localhost:8080/AddStudent?_method=DELETE-->
                                <th:block
                                        th:if="${!grades.containsKey(student.getUsername())}">
                                    <a th:href="@{'/createGrade/{studentId}' (studentId=${student.getUsername()})}"
                                       class="btn btn-secondary">
                                        <i class="fa fa-trash">Add Grade</i>
                                    </a>
                                </th:block>
                                <th:block th:if="${grades.containsKey(student.getUsername())}">
                                    <a th:href="@{'/createGrade/delete/{id}' (id=${grades.get(student.getUsername()).getId()})}"
                                       class="btn btn-sm btn-danger delete-product">
                                        <i class="fa fa-trash">Delete Grade</i>
                                    </a>
                                </th:block>
                                <th:block th:if="${grades.containsKey(student.getUsername())}">
                                    <a th:href="@{'/createGrade/edit-form/{id}' (id=${grades.get(student.getUsername()).getId()})}"
                                       class="btn btn-sm btn-info edit-product">
                                        <i class="fa fa-trash">Edit Grade</i>
                                    </a>
                                </th:block>
                            </td>
                            </th:block>



                        </tr>

                        </tbody>
                    </table>


                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
        <a th:href="@{'/AddStudent'}"
           class="btn btn-sm btn-info">
            <i class="fa fa-trash">Back</i>
        </a>
    </div>
    </div>

</div>

